html {
    color: #FFF;
    font-size: 1em;
    line-height: 1.4;
    background-color: #CCC;
    padding: 0;
    margin: 0;
}
body {
    color: #FFF;
    text-align: center;
    padding: 0;
    margin: 0;
}
main {
    background-image: url("../img/background-Seabed.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
p {
    color: #fe4242;
    text-align: center;
    font-size: 25px;
}
.imgOctopus {
    width: 250px;
    height: 250px;
}
#controls {
    margin: 0 0 50px;

}
.board {
    background-image: url("../img/board.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    padding:30px;

}
#result {
    font-weight: bold;
    color: #FFF;
    text-align: center;
}
