
body {
    font-size: 1em;
    line-height: 1.4;
<<<<<<< HEAD
=======
    background-color: #CCC;
    padding: 0;
    margin: 0;
}
body {
>>>>>>> b423f02f6864bbb2de568adce5eecf87c606b539
    text-align: center;
    margin: 0;
<<<<<<< HEAD
    max-width: 100%;
=======
}
main {
    color: #FFF;
    display:flex;
    flex-flow: column;
>>>>>>> b423f02f6864bbb2de568adce5eecf87c606b539
    background-image: url("../img/seabed.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #FFF;
    padding: 30px;
    background-attachment: fixed;
    justify-items: center;
}
p {
    text-align: center;
    font-size: 25px;
    text-align: center;
    padding: 0 120px;
    text-shadow: 10px 10px 10px rgba(0,0,0,0.5);
}
#controls {
    margin: 0 0 50px;
}
.board {
    background-image: url("../img/octopusBoard.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    text-align: center;
    height: 300px;
    position: relative;
    padding:30px;
}
.imgOctopus {
    width: 250px;
    height: 250px;
}
#result {
    font-weight: bold;
    color: #FFF;
    text-align: center;
}
